<div class="row">
    <div class="col-md-3" ng-repeat="mp in menuPrincipal">
        <div class="feed-box text-center">
            <section class="panel">
                <a href ng-click="elegirMenu(mp)">
                <div class="panel-body" style="min-height: 173px;color:{{mp.color}}" >
                    <img alt="" src="../recursos/img/module.png">
                    <h4 style="font-weight: bold">{{mp.nombre}}</h4>
                    <p>{{mp.descripcion}}</p>
                </div>
                </a>
            </section>
        </div>
    </div>
</div>