<div class="row">
    <div class="col-lg-12" align="center">
        <div class="col-lg-4">
            <div style="-webkit-box-shadow: 0 0.5px 1px;box-shadow: 0 0.5px 4px lightpink;min-height: 140px;background: #fff">
                FUNCIONES SECUNDARIAS<br/>
                <menu-personalizado funciones="funciones[0]" click="elegirVista" menu=""/>
            </div>            
        </div>            
        <div class="col-lg-4">
            <svg height="100px" width="30px" style="overflow: visible;position: absolute;left: 0">
                <line x1="-15" y1="25%" x2="15" y2="25%" stroke="green" stroke-width="3" />
            </svg>
            <div style="-webkit-box-shadow: 0 0.5px 1px;box-shadow: 0 0.5px 4px red;height: 50px;background: #fff">
                {{modNom}}<br/>
                {{usuMaster.rol.nombre}}
            </div>
            <svg height="100px" width="30px" style="overflow: visible;position: absolute;top:0;right: 0">
                <line x1="15" y1="25%" x2="45" y2="25%" stroke="green" stroke-width="3"></line>
            </svg>
        </div>
        <div class="col-lg-4">
            <div style="-webkit-box-shadow: 0 0.5px 1px;box-shadow: 0 0.5px 4px lightgreen;min-height: 140px;background: #fff">
                ESTADISTICAS<br/>
                <menu-personalizado funciones="funciones[1]" click="elegirVista" menu=""/>
            </div>            
        </div>     
    </div>
    <div class="col-lg-12" style="height: 20px">
        <svg height="100%" width="100%" style="overflow: visible;">
            <line x1="50%" y1="-90" x2="50%" y2="100%" stroke="red" stroke-width="4" />
        </svg> 
    </div>
    <div class="col-lg-8 col-lg-offset-2" align="center" >
        <div style="-webkit-box-shadow: 0 0.5px 1px;box-shadow: 0 0.5px 4px blue;background: #fff">
            FUNCIONES PRINCIPALES<br/>
            <menu-personalizado funciones="funciones[2]" click="elegirVista" menu=""/>
        </div>            
    </div>
    <div class="col-lg-12" style="height: 20px">
        <svg height="100%" width="100%" style="overflow: visible;">
            <line x1="25%" y1="0" x2="25%" y2="100%" stroke="blue" stroke-width="2" />
            <line x1="50%" y1="0" x2="50%" y2="100%" stroke="blue" stroke-width="2" />
            <line x1="75%" y1="0" x2="75%" y2="100%" stroke="blue" stroke-width="2" />
        </svg>
    </div>
    <div class="col-lg-12" align="center" >
        <div style="-webkit-box-shadow: 0 0.5px 1px;box-shadow: 0 0.5px 4px orange;height: 150px;background: #fff">
            FUNCIONES DEPENDIENTES<br/>
            <menu-personalizado funciones="funciones[3]" click="elegirVista" menu=""/>
        </div>            
    </div>
    <div class="col-lg-12" style="height: 20px"></div>
    <div class="col-lg-12 " align="center" >
        <div style="-webkit-box-shadow: 0 0.5px 1px;box-shadow: 0 0.5px 3px green;height: 100px;background: #fff">
            FUNCIONES SOPORTE<br/>
            <menu-personalizado funciones="funciones[4]" click="elegirVista" menu=""/>
        </div>            
    </div>
    <div class="col-lg-12" style="height: 20px"></div>
</div>