<div class="row"><div class="col-lg-12">
        <section class="panel">
            <div>
                <!-- Modal para monitoreos-->
                <header class="panel-heading">   
                    <h4 style="max-width: 25%;text-align: center;">"PROGRAMACIÓN DE MONITOREO" </h4>
                </header>    
                <div class="panel-body" ng-init = "listarMonitoreos()">                    
                    <div class="tabla-responsiva"><table ng-table="tablaMonitoreos" class="table table-bordered table-condensed" show-filter="true" >                        
                            <tr ng-repeat="p in $data">                            
                                <td data-title="'Código'" filter="{codigo: 'text'}">{{p.codMon}}</td>
                                <td data-title="'Año'" filter="{anio: 'text'}">{{p.anioMon}}</td>
                                <td data-title="'Nombre de Monitoreo'" filter="{nom: 'text'}">{{p.nomMon}}</td>                
                                <td data-title="'Institución Educativa'" filter="{ied: 'text'}">{{p.nomIE}}</td>
                                <td data-title="'Nivel'" filter="{ied: 'text'}">{{p.nivIE}}</td>
                                <td data-title="'Fecha'" filter="{fec: 'text'}">{{p.fecReg}}</td>
                                <td data-title="'N° Especialistas'" filter="{nEsp: 'text'}">{{p.numEsp}}</td>
                                <td data-title="'N° Docentes'" filter="{nDoc: 'text'}">{{p.numDoc}}</td>
                                <td data-title="'Documento'" filter="{doc: 'text'}">{{p.nombreURL}}</td>

                                <td align="center" data-title="'Estado'">
                                    <button id="{{'btn-estado' + p.monId}}" type="submit" class="btn btn-success btn-xs" ng-click="cambiarEstadoMonitoreo(p)" >{{mostrarEstadoMonitoreo(p)}}</button>
                                </td>

                                <td data-title="'Detalle'" style="text-align: center">
                                    <button class="btn btn-primary btn-xs" ng-click="listarMonitoreoDetalle(p.monId)" ><i class="fa fa-plus" ></i></button>
                                </td>

                                <td data-title="'Acciones'" style="text-align: center ; width:100px">
                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarMonitoreo(p)"><i class="fa fa-pencil" ></i></button>
                                    <button class="btn btn-danger btn-xs" ><i class="fa fa-trash-o" ></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="prepararProAnual()"><i class="fa fa-plus-circle" ></i> Agregar Programación de Monitoreo Anual</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalReportes"><i class="fa fa-check" ></i>Reporte</button>
                </div>
            </div>
        </section>
    </div>
</div>


<!-- Modal para nuevo monitoreos-->

<div class="modal fade" id="modalNuevoMonitoreoaaaaaaaaaa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NUEVA PROGRAMACIÓN DE MONITOREO</h4>
            </div>
            <div class="modal-body">

                <div class="row">                                         

                    <div class="col-sm-6">
                        Institución Educativa:
                        <select class="form-control" ng-model="nuevoMonitoreo.datosIE">
                            <option ng-repeat="i in institucionesEducativas" value="{{i.idIE + '@' + i.nombreIE + '@' + i.nivelIE}}">{{i.nombreIE + " " + i.nivelIE}}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        Nombre de Monitoreo:                
                        <input type="text"  class="form-control" ng-model="nuevoMonitoreo.nombreMon">
                    </div>
                    <div class="col-sm-6">              
                        Documento:                
                        <input-file nombre="proyectoNuevo.prodoc" archivo="proyectoNuevo.archivo"></input-file>
                        <view-file url="{{proyectoNuevo.url}}" nombre="proyectoNuevo.prodoc" archivo="proyectoNuevo.archivo" vernombre='true'></view-file>
                    </div>            
                </div>           

                <div class="row">                                         
                    <div class="col-sm-4">
                        Número de Especialistas a monitorear:
                        <input class="form-control" type="number" ng-model="nuevoMonitoreo.numeroEsp"/>
                    </div>
                    <div class="col-sm-4">
                        Número de Docentes monitoreados:
                        <input class="form-control" type="number" ng-model="nuevoMonitoreo.numeroDoc"/>
                    </div>

                </div>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="agregarMonitoreo()"> Guardar </button>                
                <button type="button" class="btn btn-danger" data-dismiss="modal" > Cancelar </button>                        
            </div>
        </div>
    </div>
</div>

<!--modal detalle-->

<div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">DETALLE</h4>
            </div>
            <div class="row">
                <div class="panel-body">                    
                    <div class="tabla-responsiva"><table ng-table="tablaMonitoreoDetalle" class="table table-striped table-hover" show-filter="true" >                        
                            <tr ng-repeat="p in $data">                            
                                <td data-title="'Especialista'" filter="{esp: 'text'}">{{p.espDetalle}}</td>
                                <td data-title="'Docente'" filter="{doc: 'text'}">{{p.docDetalle}}</td>
                                <!--<td data-title="'Plantilla Ficha de Monitoreo'">{{p.plaId}}</td>
                                
                                <td data-title="'Area'" filter="{are: 'text'}">{{p.area}}</td>                
                                <td data-title="'Grado'" filter="{gra: 'text'}">{{p.grado}}</td>
                                <td data-title="'Sección'" filter="{sec: 'text'}">{{p.seccion}}</td>-->

                                <td data-title="'Fecha de visita'" filter="{fVis: 'text'}">{{p.fecVis}}</td>
                                <td data-title="'Etapa'" filter="{eta: 'text'}">{{p.etapaDes}}</td>

                                <td data-title="'Acciones'" style="text-align: center ; width:100px">
                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarMonitoreoDetalle(p)"><i class="fa fa-pencil" ></i></button>
                                    <button class="btn btn-danger btn-xs" ><i class="fa fa-trash-o" ></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn btn-success" data-toggle="modal" data-target="#modalNuevoRecurso"><i class="fa fa-plus" ></i> Agregar </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para nuevo detalle-->
<div class="modal fade" id="modalNuevoDetalleaaaaa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">DETALLE</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-6">
                        Nombre del especialista de monitoreo:                
                        <input type="text"  class="form-control">
                    </div>
                    <div class="col-sm-6">              
                        Nombre del docente monitoreado:
                        <input type="text"  class="form-control">
                    </div>            
                </div>        

                <div class="row">                                         
                    <div class="col-sm-6">
                        Area:
                        <input class="form-control" type="text"/>
                    </div>
                </div>


                <div class="row">                                         
                    <div class="col-sm-6">
                        Grado:
                        <input class="form-control" type="text"/>
                    </div>
                    <div class="col-sm-6">
                        Sección:
                        <input class="form-control" type="text"/>
                    </div>
                </div> 

                <div class="row">                                         
                    <div class="col-sm-6">              
                        Fecha de Visita:
                        <input class="form-control" type="date" ng-required="true"/>
                    </div> 
                    <div class="col-sm-6">
                        Etapa:(Entrada, Proceso y Salida)
                        <input type="text" class="form-control"/>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" > Cancelar </button>                        
            </div>
        </div>
    </div>
</div>

<!-- Modal para programacion anual-->

<!--Modal para los reportes-->
<div class="modal fade" id="modalReportes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">REPORTES</h4>
            </div>
            <div class="modal-body">          
                <div class="form-panel">            
                    <uib-tabset active="Justificado1" justified="true">

                        <uib-tab index="0" heading="Avance de Monitoreo" >    
                            <div class="row">

                                <div class="center panel-body" >
                                    <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                        <thead>
                                            <tr>
                                                <th class="center" style="text-align: center">Nivel</th>
                                                <th class="center" style="text-align: center">Número total de visitas</th>
                                                <th class="center" style="text-align: center">Número de visitas realizadas</th>
                                                <th class="center" style="text-align: center">Porcentaje de Avance</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="center">Inicial</td>
                                                <td class="center" style="text-align: center">50</td>
                                                <td class="center" style="text-align: center">25</td>
                                                <td class="center" style="text-align: center">50%</td>


                                            </tr>
                                            <tr>
                                                <td class="center">Primaria</td>
                                                <td class="center" style="text-align: center">100</td>
                                                <td class="center" style="text-align: center">25</td>
                                                <td class="center" style="text-align: center">25%</td>

                                            </tr>

                                            <tr>
                                                <td class="center">Secundaria</td>
                                                <td class="center" style="text-align: center">50</td>
                                                <td class="center" style="text-align: center">30</td>
                                                <td class="center" style="text-align: center">60%</td>

                                            </tr>
                                        </tbody>
                                    </table>

                                    <canvas id="avanceMonitoreo" class="chart chart-bar"
                                            chart-data="data" chart-labels="labels" chart-series="series">
                                    </canvas>

                                </div> 
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="imprimirReporte1()">Imprimir</button> 
                        </uib-tab>

                        <uib-tab index="1" heading="Monitoreos realizados por Visita" >    
                            <div class="row">

                                <div class="center panel-body" >
                                    <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                        <thead>
                                            <tr>
                                                <th class="center" style="text-align: center">Nivel</th>
                                                <th class="center" style="text-align: center">Número de docentes monitoreados</th>
                                                <th class="center" style="text-align: center">Primera Visita</th>
                                                <th class="center" style="text-align: center">Segunda Visita</th>
                                                <th class="center" style="text-align: center">Tercera Visita</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="center">Inicial</td>
                                                <td class="center" style="text-align: center">10</td>
                                                <td class="center" style="text-align: center">9</td>
                                                <td class="center" style="text-align: center">7</td>
                                                <td class="center" style="text-align: center">8</td>


                                            </tr>
                                            <tr>
                                                <td class="center">Primaria</td>
                                                <td class="center" style="text-align: center">15</td>
                                                <td class="center" style="text-align: center">3</td>
                                                <td class="center" style="text-align: center">6</td>
                                                <td class="center" style="text-align: center">4</td>

                                            </tr>

                                            <tr>
                                                <td class="center">Secundaria</td>
                                                <td class="center" style="text-align: center">20</td>
                                                <td class="center" style="text-align: center">9</td>
                                                <td class="center" style="text-align: center">17</td>
                                                <td class="center" style="text-align: center">3</td>

                                            </tr>
                                        </tbody>
                                    </table>

                                    <canvas id="monitoreosRealizadosPorVisita" class="chart chart-bar"
                                            chart-data="data1" chart-labels="labels1" chart-series="series1">
                                    </canvas>

                                </div> 
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="imprimirReporte2()">Imprimir</button> 
                        </uib-tab>
                    </uib-tabset>
                </div>          

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>  
                
            </div>        
        </div>
    </div>
</div>
<!--***************************************************************************************************************--
Visualizar Documento
<!--***************************************************************************************************************-->
<div class="modal fade" id="modalVisArch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{iteFilSelected.nomFil| uppercase}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" method="get">
                        <div class="form-group" style="margin-bottom: 0;">
                            <div class="col-sm-10">
                                <iframe ng-model="urlArch" style="display:block" src={{urlArch}} width="560" height="600"></iframe>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
