<div class="modal fade " >
     <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                   <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal " method="get">
                        <div class="form-group col-lg-12">
                            <div class="form-group ">
                                <label class="col-lg-4"><strong>Autorizacion</strong></label>
                            </div> 
                            <div class="form-group ">   
                                <div class="col-lg-4">
                                    <input type="text"  placeholder="Numero de Documento" class="form-control" ng-model="configuracion.documento">
                                </div>  
                            </div> 
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="form-group ">
                                <label class="col-lg-4"><strong>Descripcion</strong></label>
                            </div> 
                            <div class="form-group ">   
                                <div class="col-lg-12">
                                    <input type="text" placeholder="Descripcion" class="form-control" ng-model="configuracion.descripcion">
                                </div>  
                            </div> 
                        </div>
                       <div class="form-group "><label></label></div> 
                        
                        <div class="form-group col-lg-12">
                            <div class="form-group ">
                                <label class="col-lg-4"><strong>Tolerancia</strong></label>
                            </div> 
                            <div class="form-group ">   
                               
                                    <div class="col-lg-1">
                                        <label>Hora</label>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="number" step="1" min="0" max="5" value="0" class="form-control" ng-model="configuracion.horaTol">
                                    </div>
                                    <div class="col-lg-1">
                                        <label></label>
                                    </div>
                                    <div class="col-lg-1">
                                        
                                        <label>Minutos</label>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="number" step="1" min="0" max="59" value="0" class="form-control" ng-model="configuracion.minTol">
                                    </div>
                               
                            </div> 
                        </div>
                        
                        <div class="form-group "><label></label></div> 
                        <div class="form-group "> 
                            <label class="col-lg-4"><strong>Datos de Responsable</strong> </label>                            
                        </div> 

                        <div class="form-group col-lg-12">  

                            <div class="form-group col-lg-3">                             

                                <label class="control-label">DNI</label>

                                <div class="input-group col-lg-12">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" ng-click="showBuscarTrabajador()"><i class="fa fa-search"> </i></button>
                                    </span>
                                    <input type="text"  class="form-control" ng-model="trabajador.dni" disabled="true" >
                                </div>


                            </div> 
                            <div class="form-group col-lg-1"></div>

                            <div class="form-group col-lg-5">                             

                                <label class="control-label">Nombre</label>   

                                <input type="text" class="form-control" ng-model="trabajador.datos" disabled="true">


                            </div> 
                            <div class="form-group col-lg-1"> </div>

                            <div class="form-group col-lg-4">                             

                                <label class="control-label">Fecha Inicio</label>   
                                <input type="date" class="form-control" ng-model="configuracion.fechaInicio">
                            </div>
                        </div> 
                       
                        <div class="form-group col-lg-12">  
                            <div class="form-group col-lg-3">                             

                                <label class="control-label">Estado</label>
                                
                                <select class="form-control" ng-model="configuracion.estado" ng-options="tip.nom for tip in estados">
                                
                                </select>
                            </div> 
                            <div class="form-group col-lg-1"></div>
                            <div class="form-group col-lg-5">
                                <br><br> 
                                <div class="form-group col-lg-6"></div>
                                <div class="form-group col-lg-6">
                                    <span class=" badge ng-binding bg-important " ng-class="{'bg-important':configuracion.estado.id==2,'bg-green':configuracion.estado.id==1,'bg-blue':configuracion.estado.id==3}" style="font-size: 140%" ng-disabled="estado">
                                        {{configuracion.estado.id==1?'Activo':configuracion.estado.id==2?'Inactivo':'Cerrado'}} 
                                    </span>
                                
                                </div>
                                
                            </div>
                            <div class="form-group col-lg-1"></div>
                            <div class="form-group col-lg-4">                             
                                <label class="control-label">Fecha Fin</label>   
                                <input type="date" class="form-control" ng-model="configuracion.fechaFin">
                            </div>
                        </div> 
                        
                        
                        <div class="form-group "><label></label></div> 
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default " data-dismiss="modal">Cancelar</button>

                <button ng-show="title==='Nueva Configuracion'"  type="button" class="btn btn-primary" ng-click="agregarConfiguracion()">Crear Configuracion</button>                     
                <button ng-hide="title==='Nueva Configuracion'"  type="button" class="btn btn-primary" ng-click="actualizarConfiguracion()">Actualizar Configuracion</button>


            </div>
        </div>
     </div>
</div>       
