<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">CALENDARIO-HORARIOS</h4>
                <span class="tools pull-right">
                
                    <button class="btn btn-primary" type="button"  title="Listar" ng-click="iniciarDatos()"><i class="fa fa-rotate-right"></i> Listar </button>
                </span>

            </header>
          
            <div class="panel-heading">
                <button class="btn btn-warning col-sm-push-6" type="button"  title="Agregar Horario" ng-click="showNuevaHorario()"><i class="fa fa-plus"></i> Agregar Horario </button>
                <span class="tools pull-right">
                
                    <button class="btn btn-warning col-sm-push-6" type="button"  title="Configurar Calendario" ng-click="showConfigurarCalendario()"><i class="fa fa-rotate-right"></i> Configurar Calendario </button>
                </span>
            </div>
            
            <br>
            
            <div class="tabla-responsiva" ng-init="iniciarDatos()">
                <table ng-table="miTabla" class="table table-striped table-hover" show-filter="true" >
                    <colgroup>
                        <col width="10%" />
                        <col width="70%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                       


                    </colgroup>
                    <tr ng-repeat="o in $data">
                        
                        <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                        <td data-title="'Descripcion'" filter="{ descripcion: 'text'}" sortable="'descripcion'" 
                            style="text-align: center">{{o.des}}
                        </td>

                        <td data-title="'Ver'" style="text-align: center">
                            <button class="btn btn-primary btn-xs"  ng-click="verDetallado(o)"  title="Detalle">
                                <i class=" fa fa-search" ></i>
                            </button>
                        </td>
                        <td data-title="'Editar'" style="text-align: center">
                            <button class="btn btn-white btn-xs"  ng-click="editarHorario(o)"  title="Editar">
                                <i class=" fa fa-edit" ></i>
                            </button>
                        </td>
                        
                        <td data-title="'Borrar'" style="text-align: center">
                            <button class="btn btn-danger btn-xs"  title="Eliminar" ng-click="eliminarHorario(o)">
                                <i class="glyphicon glyphicon-trash" ></i>
                            </button>
                        </td>
                        

                    </tr>
                </table>
            </div>

        </section>

    </div>

</div>

