<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">REGISTRO TRABAJADOR</h4>
                <span class="tools pull-right">
                    <button class="btn btn-primary" type="button"  title="Listar" ng-click="listarTrabajador()"><i class="fa fa-rotate-right"></i> Listar </button>
                </span>
                   
            </header>
          
<!--            <div class="panel-heading">
                <button class="btn btn-warning col-sm-push-6" type="button"  title="Agregar Configuracion" ng-click="showNuevaConfiguracion()"><i class="fa fa-plus"></i> Agregar Configuracion </button>
                <span class="tools pull-right">
                
                    <button class="btn btn-warning col-sm-push-6" type="button"  title="Conectar" ><i class="fa fa-rotate-right"></i> Conexion de Sistema Biometrico </button>
                </span>
            </div>-->
            
            <br>
            
            <div class="tabla-responsiva" ng-init="iniciarDatos()">
                <table ng-table="miTabla" class="table table-striped table-hover" show-filter="true" >
                    <colgroup>
                        <col width="8%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />

                    </colgroup>
                    <tr ng-repeat="o in $data">
                        
                        <td data-title="'DNI'"   
                            sortable="'dni'" filter="{ dni: 'text'}" filter-data="dni" style="text-align: center">{{o.dni}}
                        </td>
                        <td data-title="'Nombres y Apellido'" filter="{ nombreCompleto: 'text'}" sortable="'nombreCompleto'" 
                            style="text-align: center">{{o.nombreCompleto}}
                        </td>
                        <td data-title="'Fecha Nacimiento'" sortable="'fechaNac'" style="text-align: center">{{o.fechaNac}}</td>
                        
                        <td data-title="'Fecha Ingreso'"  sortable="'fechaIn'" style="text-align: center">{{o.fechaIn}}</td>
                        <td data-title="'Cargo'" filter="{ cargo: 'text'}" filter-data="cargos" 
                            sortable="'cargo'" style="text-align: center">   
                               {{o.cargo}}
                        </td>

                    </tr>
                </table>
            </div>
        <div align="right" >
            <button class="btn btn btn-success " ng-click="prepararAgregar()" ><i class="fa fa-plus" ></i> Agregar</button>
            <!--<button class="btn btn-danger " ng-click="eliminarUsuarios()"><i class="fa fa-times" ></i> Eliminar</button>-->
        </div>
        </section>

    </div>

</div>

<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVO TRABAJADOR</h4>
      </div>
      <div class="modal-body">
                    
            <div class="form-panel">
                <div class="form-horizontal style-form" >
                    <div class="form-group ">
                        <label class="col-lg-2 control-label"><strong>PERSONA</strong></label>
                    </div> 
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">DNI *</label>
                        <div class="col-sm-10"><div class="input-group m-bot15">
                                <input type="text" class="form-control input-lg" ng-keyup="reiniciarDatos()" style="text-align: center;" data-mask="99999999" ng-model="nuevaPersona.dni" >
                            <span class="input-group-btn">
                              <button class="btn btn-success input-lg" type="button" ng-click="buscarPersona()">Verificar</button>
                            </span>
                        </div></div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombres *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.nombre" ng-disabled="nuevaPersona.existe">
                        </div>
                        <label class="col-sm-2 control-label">Fec.Nac.</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" ng-model="nuevaPersona.nacimiento" ng-disabled="nuevaPersona.existe">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">A Paterno *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.paterno" ng-disabled="nuevaPersona.existe">
                        </div>
                        <label class="col-sm-2 control-label">A Materno *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.materno" ng-disabled="nuevaPersona.existe">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Email *</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevaPersona.email" ng-disabled="nuevaPersona.existe">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Numero *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.numero1" ng-disabled="nuevaPersona.existe">
                        </div>
                        <label class="col-sm-2 control-label">Numero 2</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.numero2" ng-disabled="nuevaPersona.existe">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Direccion</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.direccion" ng-disabled="nuevaPersona.existe">
                        </div>
                        <label class="col-sm-2 control-label">Fijo</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.fijo" ng-disabled="nuevaPersona.existe">
                        </div>
                    </div>
                    <br>
                    <div class="form-group ">
                        <label class="col-lg-2 control-label"><strong>TRABAJADOR</strong></label>
                    </div>
                    
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Tipo</label>
                        <div class="col-sm-4">
                            
                            <select class="form-control" ng-model="nuevoTrabajador.tipo" ng-change="listarCargoTrabajador()" ng-options="tip.title for tip in tipoTrabajadores" ng-disabled="nuevoTrabajador.existe">
                                <option value="">Seleccione:</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Cargo</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="nuevoTrabajador.cargo" ng-options="tip.id as tip.nombre for tip in cargoTrabajadores" ng-disabled="nuevoTrabajador.existe" >
<!--                                <option value="">Seleccione:</option>-->
                            </select>
                            <!--<input type="text" class="form-control" ng-model="nuevoTrabajador.cargo.nombre" ng-show="nuevoTrabajador.existe" disabled="true">-->
                        </div>
                        
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Fecha Ingreso</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" ng-model="nuevoTrabajador.fechaIngreso" ng-disabled="nuevoTrabajador.existe">
                        </div>
                        <label class="col-sm-2 control-label">Salario</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevoTrabajador.salario" ng-disabled="nuevoTrabajador.existe">
                        </div>
                    </div>
                    
<!--                    <h4>Informacion de Trabajador</h4>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Usuario *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevoUsuario.nombre" disabled>
                        </div>
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevoUsuario.password" placeholder="opcional">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoUsuario.estado" ng-value="'A'" checked>activo</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoUsuario.estado" ng-value="'I'">inactivo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="!nuevoUsuario.existe">
                        <label class="col-sm-2 control-label">Organizacion*</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="oSel" ng-options="o as o.nombre for o in organizaciones">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="!nuevoUsuario.existe">
                        <label class="col-sm-2 control-label">Rol *</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="nuevoUsuario.rolID" ng-options="r.rolID as r.nombre for r in oSel.roles">                                
                            </select>
                        </div>
                    </div>-->
                    
                </div>
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarUsuario()" ng-disabled="nuevaPersona.dni=='' || nuevoTrabajador.existe"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>


