<div class="row" >
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                LEGAJO PERSONAL 
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class = "col-sm-2">
                        <uib-tabset active="active" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                            <uib-tab index="0" heading="Filiación e identificación personal" style="text-align: justify" ng-click="updateOptions(0)"></uib-tab>
                            <uib-tab index="1" heading="Estudios y capacitación" style="text-align: justify" ng-click="updateOptions(1)"></uib-tab>
                            <uib-tab index="2" heading="Contratos, nombramientos y reingresos" style="text-align: justify" ng-click="updateOptions(2)"></uib-tab>
                            <uib-tab index="3" heading="Desplaz." style="text-align: justify;" ng-click="updateOptions(3)"></uib-tab>
                            <uib-tab index="4" heading="Licencias"  style="text-align: justify" ng-click="updateOptions(4)"></uib-tab>
                            <uib-tab index="5" heading="Contratos, nombramientos y reingresos" style="text-align: justify" ng-click="updateOptions(5)"></uib-tab>
                            <uib-tab index="6" heading="Bonificaciones" style="text-align: justify" ng-click="updateOptions(6)"></uib-tab>
                            <uib-tab index="7" heading="Regimen laboral" style="text-align: justify" ng-click="updateOptions(7)"></uib-tab>
                            <uib-tab index="8" heading="Meritos" style="text-align: justify" ng-click="updateOptions(8)"></uib-tab>
                            <uib-tab index="9" heading="Demeritos" style="text-align: justify" ng-click="updateOptions(9)"></uib-tab>
                            <uib-tab index="10" heading="Otros" style="text-align: justify" ng-click="updateOptions(10)"></uib-tab>
                        </uib-tabset>
                    </div>
                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[0]" ng-hide="!options[0]" >
                        <div class="center panel-body" >
                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                <thead>
                                    <tr>
                                        <th class="center" style="text-align: center">Tipo de documento</th>
                                        <th class="center" style="text-align: center">Nombre de documento</th>
                                        <th class="center" style="text-align: center">Fecha de ingreso</th>
                                        <th class="center" style="text-align: center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">Fotocopia</td>
                                        <td class="center">Partida de nacimiento</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">Fotocopia</td>
                                        <td class="center">Partida de nacimiento</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </form>
                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[1]" ng-hide="!options[1]" >
                        <div class="center panel-body" >
                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                <thead>
                                    <tr>
                                        <th class="center" style="text-align: center">Tipo de documento</th>
                                        <th class="center" style="text-align: center">Nombre de documento</th>
                                        <th class="center" style="text-align: center">Fecha de ingreso</th>
                                        <th class="center" style="text-align: center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">Copia</td>
                                        <td class="center">Fotocopia del Certificado de Educacion Secundaria visado y auntenticado</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">Copia</td>
                                        <td class="center">Fotocopia del Certificado de Educacion Secundaria visado y auntenticado</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </form>
                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[2]" ng-hide="!options[2]" >
                        <div class="center panel-body" >
                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                <thead>
                                    <tr>
                                        <th class="center" style="text-align: center">Tipo de documento</th>
                                        <th class="center" style="text-align: center">Nombre de documento</th>
                                        <th class="center" style="text-align: center">Fecha de ingreso</th>
                                        <th class="center" style="text-align: center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">Resolucion2</td>
                                        <td class="center">Documento2</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">Resolucion2</td>
                                        <td class="center">Documento2</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </form>
                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[3]" ng-hide="!options[3]" >
                        <div class="center panel-body" >
                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                <thead>
                                    <tr>
                                        <th class="center" style="text-align: center">Tipo de documento</th>
                                        <th class="center" style="text-align: center">Nombre de documento</th>
                                        <th class="center" style="text-align: center">Fecha de ingreso</th>
                                        <th class="center" style="text-align: center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">Resolucion3</td>
                                        <td class="center">Documento3</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">Resolucion3</td>
                                        <td class="center">Documento3</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </form>
                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[4]" ng-hide="!options[4]" >
                        <div class="center panel-body" >
                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                <thead>
                                    <tr>
                                        <th class="center" style="text-align: center">Tipo de documento</th>
                                        <th class="center" style="text-align: center">Nombre de documento</th>
                                        <th class="center" style="text-align: center">Fecha de ingreso</th>
                                        <th class="center" style="text-align: center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">Resolucion4</td>
                                        <td class="center">Documento4</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">Resolucion4</td>
                                        <td class="center">Documento4</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </form>
                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[5]" ng-hide="!options[5]" >
                        <div class="center panel-body" >
                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                <thead>
                                    <tr>
                                        <th class="center" style="text-align: center">Tipo de documento</th>
                                        <th class="center" style="text-align: center">Nombre de documento</th>
                                        <th class="center" style="text-align: center">Fecha de ingreso</th>
                                        <th class="center" style="text-align: center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">Resolucion5</td>
                                        <td class="center">Documento5</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">Resolucion5</td>
                                        <td class="center">Documento5</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </form>
                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[6]" ng-hide="!options[6]" >
                        <div class="center panel-body" >
                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                <thead>
                                    <tr>
                                        <th class="center" style="text-align: center">Tipo de documento</th>
                                        <th class="center" style="text-align: center">Nombre de documento</th>
                                        <th class="center" style="text-align: center">Fecha de ingreso</th>
                                        <th class="center" style="text-align: center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">Resolucion6</td>
                                        <td class="center">Documento6</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">Resolucion6</td>
                                        <td class="center">Documento6</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </form>
                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[7]" ng-hide="!options[7]" >
                        <div class="center panel-body" >
                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                <thead>
                                    <tr>
                                        <th class="center" style="text-align: center">Tipo de documento</th>
                                        <th class="center" style="text-align: center">Nombre de documento</th>
                                        <th class="center" style="text-align: center">Fecha de ingreso</th>
                                        <th class="center" style="text-align: center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">Resolucion7</td>
                                        <td class="center">Documento7</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">Resolucion7</td>
                                        <td class="center">Documento7</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </form>
                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[8]" ng-hide="!options[8]" >
                        <div class="center panel-body" >
                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                <thead>
                                    <tr>
                                        <th class="center" style="text-align: center">Tipo de documento</th>
                                        <th class="center" style="text-align: center">Nombre de documento</th>
                                        <th class="center" style="text-align: center">Fecha de ingreso</th>
                                        <th class="center" style="text-align: center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">Resolucion8</td>
                                        <td class="center">Documento8</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">Resolucion8</td>
                                        <td class="center">Documento8</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </form>
                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[9]" ng-hide="!options[9]" >
                        <div class="center panel-body" >
                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                <thead>
                                    <tr>
                                        <th class="center" style="text-align: center">Tipo de documento</th>
                                        <th class="center" style="text-align: center">Nombre de documento</th>
                                        <th class="center" style="text-align: center">Fecha de ingreso</th>
                                        <th class="center" style="text-align: center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">Resolucion9</td>
                                        <td class="center">Documento9</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">Resolucion9</td>
                                        <td class="center">Documento9</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </form>
                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[10]" ng-hide="!options[10]" >
                        <div class="center panel-body" >
                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                <thead>
                                    <tr>
                                        <th class="center" style="text-align: center">Tipo de documento</th>
                                        <th class="center" style="text-align: center">Nombre de documento</th>
                                        <th class="center" style="text-align: center">Fecha de ingreso</th>
                                        <th class="center" style="text-align: center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">Resolucion10</td>
                                        <td class="center">Documento10</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">Resolucion10</td>
                                        <td class="center">Documento10</td>
                                        <td class="center">02/03/16</td>
                                        <td class="center">
                                            <button class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-danger btn-xs md-primary md-raised">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </form>
                </div>
            </div>
            <div class="panel-footer">

                <!-- <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
 
                 <button ng-show="title === 'Nueva Cuenta Contable'" type="button" class="btn btn-primary" ng-click="agregarCuentaContable()">Crear Cuenta</button>                        
                 <button ng-hide="title === 'Nueva Cuenta Contable'" type="button" class="btn btn-primary" ng-click="actualizarCuentaContable()">Registrar datos</button>
 
                -->
            </div>
        </section>
    </div>
</div>       
