<div class="modal fade"  id="modalEditarColegiatura">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal " method="get">
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Colegio profesional: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Colegio profesional" ng-model="colegiaturaSel.nomColPro">
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Reg. Nº Colegiatura: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Reg. Nº Colegiatura" ng-model="colegiaturaSel.numRegCol">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Habilitado: </label>                                                                                             
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="colegiaturaSel.conReg"> 
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Adjuntar documento: </label>
                            <div class="col-sm-3 form-inline">
                                <input-file ></input-file>
                                <view-file ></view-file>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarColegiatura()">Registrar datos</button>
            </div>
        </div>
    </div>
</div>       
