<div class="modal fade"  id="modalEditarDemerito">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Entidad que emite la resolución: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Entidad que emite la resolución" ng-model="demeritoSel.entEmi">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Número de resolución </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número de resolución" ng-model="demeritoSel.numRes">
                            </div>
                        </div>
                    
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de resolución: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="demeritoSel.fecRes" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">¿Resuelve separación? </label>                                                                                             
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="demeritoSel.sep"> 
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de inicio: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="demeritoSel.fecIni" 
                                           is-open="date_2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de término: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="demeritoSel.fecFin" 
                                           is-open="date_3" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_3 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Motivo de separación: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="demeritoSel.mot">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Adjuntar resolución </label>
                            <div class="col-sm-3 form-inline">
                                <input-file ></input-file>
                                <view-file ></view-file>
                            </div>
                        </div>
                         
                       
                    </form>       
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>

                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarDemerito()">Registrar datos</button>

            </div>
        </div>
    </div>
</div>       
