<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">TIPOS DE TRAMITES</h4>
        <span class="tools pull-right">
        <button class="btn btn btn-primary " ng-click="listarTiposTramites()"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="iniciarDatos(usuMaster.organizacion.organizacionID)">
        <div class="tabla-responsiva"><table ng-table="miTabla" class="table table-striped table-hover" show-filter="true" >
          <colgroup>
            <col width="20px" /><col width="50px" /><col width="10%" /><col width="10%" /><col width="auto" /><col width="120px" /><col width="50px" /><col width="65px" />
          </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="'N'" sortable="'i'" >{{o.i}}</td>
                <td data-title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'" style="text-align: center">{{o.codigo}}</td>
                <td data-title="'Tupa'" filter="{ tupa: 'select'}" filter-data="tupas" sortable="'tupa'" style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': o.tupa,'label-warning': !o.tupa}">{{o.tupa?'tupa':'no tupa'}}</span>
                </td>
                <td data-title="'Tipo'" filter="{ tipo: 'select'}" filter-data="tipos" sortable="'tipo'" style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': o.tipo,'label-warning': !o.tipo}">{{o.tipo?'externo':'interno'}}</span>
                </td>
                <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'" >{{o.nombre}}</td>
                <td data-title="'Costo S/.'" sortable="'costo'" style="text-align: center">{{o.costo}}</td>
                <td data-title="'Duracion'" sortable="'duracion'" style="text-align: center">{{o.duracion}} D</td>
                <td data-title="'Accion'" style="text-align: center">
                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar(o)"><i class="fa fa-pencil" ></i></button>
                    <button class="btn btn-danger btn-xs" ng-click="eliminarTipoTramite(o.i,o.tipoTramiteID)"><i class="fa fa-trash-o " ></i></button>
                </td>
            </tr>
        </table></div>
        <div align="right">            
            <button class="btn btn btn-primary" data-toggle="modal" data-target="#modalNuevoTramite"><i class="fa fa-plus" ></i> Agregar</button>
        </div>

    </div>
</section>
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditarTramite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR TIPO TRAMITE</h4>
      </div>
      <div class="modal-body"><div class="form-panel">
              
        <form class="form-horizontal style-form" method="get">
            <div class="form-group" >
                <label class="col-sm-2 control-label">Tupa</label>
                <div class="col-sm-4">
                    <div class="radio" style="display: inline-block">
                      <label><input type="radio" ng-model="tipoTramiteSel.tupa" ng-value="true" ng-change="verificarTupa(true)">tupa</label>
                    </div>
                    <div class="radio" style="display: inline-block">
                      <label><input type="radio" ng-model="tipoTramiteSel.tupa" ng-value="false" ng-change="verificarTupa(true)">no tupa</label>
                    </div>
                </div>
                <label class="col-sm-2 control-label">Tipo</label>
                <div class="col-sm-4">
                    <div class="radio" style="display: inline-block">
                      <label><input type="radio" ng-model="tipoTramiteSel.tipo" ng-value="true">externo</label>
                    </div>
                    <div class="radio" style="display: inline-block">
                      <label><input type="radio" ng-model="tipoTramiteSel.tipo" ng-value="false">interno</label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="tipoTramiteSel.tupa">
                <label class="col-sm-2 control-label">Tipo Institución</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="tipoTramiteSel.tipoOrganizacionID" ng-options="to.tipoOrganizacionID as to.nombre for to in tipoOrganizaciones"></select>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Nombre Tramite</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="tipoTramiteSel.nombre">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <textarea class="form-control" ng-model="tipoTramiteSel.descripcion"></textarea>
                </div>
            </div>
            <div class="form-group" >
                  <label class="col-sm-2 control-label">Costo</label>
                  <div class="col-sm-4">
                      <input type="number" class="form-control" ng-model="tipoTramiteSel.costo">
                  </div>
                  <label class="col-sm-2 control-label">Duración</label>
                  <div class="col-sm-4">
                      <input type="number" min="1" max="30" class="form-control" ng-model="tipoTramiteSel.duracion">
                  </div>
            </div>
            <div class="form-group" >
              <div style="text-align: center"><strong>REQUISITOS</strong></div>
              <div class="col-sm-12">
              <div class="tabla-responsiva" style="max-height: 120px;border-top: 2px solid #ddd;margin-bottom: 0px;">
              <table class="table peque" style="margin-bottom: 0;">
                  <thead>
                  <tr>
                      <th style="width:15px">#</th><th style="width:auto">Requisito</th><th style="width:35%;">Formato adjunto</th><th style="width:55px">Accion</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="r in tipoTramiteSel.requisitos">
                      <td>{{$index+1}}</td>
                      <td>
                          <span ng-hide="r.edi" >{{r.descripcion}}</span>
                          <span ng-show="r.edi" ><input ng-model="r.copia.descripcion"/></span>
                      </td>
                      <td style="word-break: break-all;">
                          <span ng-hide="r.edi" ><view-file url="{{r.url}}" nombre="r.nombreArchivo" archivo="r.archivo"> </view-file></span>
                          <span ng-show="r.edi" ><input-file nombre="r.copia.nombreArchivo" archivo="r.copia.archivo"></input-file></span>
                      </td>
                      <td>
                          <button type="button" class="btn btn-primary btn-xs" ng-click="editarRequisito($index,r,true)"><i class="fa" ng-class="{'fa-check':r.edi,'fa-pencil':!r.edi}" ></i></button>
                          <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!r.edi}" ng-click="eliminarRequisito($index,r,true)"><i class="fa" ng-class="{'fa-times':r.edi,'fa-trash-o':!r.edi}"></i></button>                          
                      </td>
                  </tr>
                  </tbody>
              </table></div>
              <table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
                  <tr>
                      <td style="width:15px">+</td>
                      <td style="width:auto"><input type="text" class="form-control input-table" ng-model="requisitoSel.descripcion"></td>
                      <td style="width:35%;word-break: break-all;"><input-file nombre="requisitoSel.nombreArchivo" archivo="requisitoSel.archivo"></input-file></td>
                      <td style="width:55px">
                          <button class="btn btn-success btn-xs" ng-click="agregarRequisito(true)" title="agregar requisito"><i class="fa fa-plus" ></i></button>
                      </td>
                  </tr>                      
              </table>
              </div>
            </div>
            <div class="form-group" >
              <div style="text-align: center"><strong>RUTAS</strong></div>
              <div class="col-sm-12">
              <div class="tabla-responsiva" style="max-height: 120px;border-top: 2px solid #ddd;margin-bottom: 0px;">
              <table class="table peque" style="margin-bottom: 0">
                  <thead>
                  <tr>
                      <th style="width:15px">#</th><th style="width:30%;">Origen</th><th style="width:30%;">Destino</th><th>Descripcion</th><th style="width:55px">Accion</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="r in tipoTramiteSel.rutas">
                      <td>{{$index +1}}</td>
                      <td>
                          <span ng-hide="r.edi" >{{r.areaOri.nombre}}</span>
                          <span ng-show="r.edi" ><select class="form-control input-table" ng-model="r.copia.areaOri" ng-options="d as d.nombre for d in destinos2"></select></span>
                      </td>
                      <td>
                          <span ng-hide="r.edi" >{{r.areaDes.nombre}}</span>
                          <span ng-show="r.edi" ><select class="form-control input-table" ng-model="r.copia.areaDes" ng-options="d as d.nombre for d in destinos2"></select></span>
                      </td>
                      <td>
                          <span ng-hide="r.edi" >{{r.descripcion}}</span>
                          <span ng-show="r.edi" ><input ng-model="r.copia.descripcion"/></span>
                      </td>
                      <td>
                          <button type="button" class="btn btn-primary btn-xs" ng-click="editarRuta($index,r,true)"><i class="fa" ng-class="{'fa-check':r.edi,'fa-pencil':!r.edi}" ></i></button>
                          <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!r.edi}" ng-click="eliminarRuta($index,r,true)"><i class="fa" ng-class="{'fa-times':r.edi,'fa-trash-o':!r.edi}"></i></button>
                      </td>
                  </tr>                  
                  </tbody>
              </table></div>
              <table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
                  <tr>
                      <td style="width:15px">+</td>
                      <td style="width:30%">
                          <select class="form-control input-table" ng-model="rutaSel.areaOri" ng-options="d as d.nombre for d in destinos2"></select>                                        
                      </td>
                      <td style="width:30%">
                          <select class="form-control input-table" ng-model="rutaSel.areaDes" ng-options="d as d.nombre for d in destinos2"></select>
                      </td>
                      <td style="width:auto"><input type="text" class="form-control input-table" ng-model="rutaSel.descripcion"></td>
                      <td style="width:55px">
                          <button class="btn btn-success btn-xs" ng-click="agregarRuta(true)" title="agregar ruta"><i class="fa fa-plus" ></i></button>
                      </td>
                  </tr>
              </table>
                  
              </div>                        
            </div>
        </form>
      </div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="editarTipoTramite(usuMaster.organizacion.organizacionID)">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalNuevoTramite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVO TIPO TRAMITE</h4>
      </div>
      <div class="modal-body"><div class="form-panel">
        <form class="form-horizontal style-form" method="get">                    
            <div class="form-group" >
                <label class="col-sm-2 control-label">Tupa</label>
                <div class="col-sm-4">
                    <div class="radio" style="display: inline-block">
                      <label><input type="radio" ng-model="tipoTramite.tupa" ng-value="true" ng-change="verificarTupa()">tupa</label>
                    </div>
                    <div class="radio" style="display: inline-block">
                      <label><input type="radio" ng-model="tipoTramite.tupa" ng-value="false" ng-change="verificarTupa()">no tupa</label>
                    </div>
                </div>
                <label class="col-sm-2 control-label">Tipo</label>
                <div class="col-sm-4">
                    <div class="radio" style="display: inline-block">
                      <label><input type="radio" ng-model="tipoTramite.tipo" ng-value="true" checked>externo</label>
                    </div>
                    <div class="radio" style="display: inline-block">
                      <label>
                        <input type="radio" ng-model="tipoTramite.tipo" ng-value="false">
                        interno
                      </label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="tipoTramite.tupa">
                <label class="col-sm-2 control-label">Tipo Institución</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="tipoTramite.tipoOrganizacionID">
                        <option ng-repeat="to in tipoOrganizaciones " value="{{to.tipoOrganizacionID}}">{{to.codigo}}-{{to.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Nombre Tramite</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="tipoTramite.nombre">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <textarea class="form-control" ng-model="tipoTramite.descripcion"></textarea>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Costo</label>
                <div class="col-sm-4">
                    <input type="number" step="0.1" class="form-control" ng-model="tipoTramite.costo">
                </div>
                <label class="col-sm-2 control-label">Duración</label>
                <div class="col-sm-4">
                    <input type="number" min="1" max="30" class="form-control" ng-model="tipoTramite.duracion">
                </div>
            </div>
            <div class="form-group" >
                <div style="text-align: center"><strong>REQUISITOS</strong></div>
                <div class="col-sm-12">
                <div class="tabla-responsiva" style="max-height: 120px;border-top: 1px solid #ddd;margin-bottom: 0px;">
                <table class="table peque" style="margin-bottom: 0">
                    <thead>
                    <tr>
                        <th width="15px">#</th><th width="auto">Requisito</th><th width="35%">Formato adjunto</th><th width="55px">Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in requisitos" >
                        <td>{{$index+1}}</td>
                        <td>
                            <span ng-hide="r.edi" >{{r.descripcion}}</span>
                            <span ng-show="r.edi" ><input ng-model="r.copia.descripcion"/></span>
                        </td>
                        <td style="word-break: break-all;">
                            <span ng-hide="r.edi" ><view-file nombre="r.nombreArchivo" archivo="r.archivo"> </view-file></span>
                            <span ng-show="r.edi" ><input-file nombre archivo="r.copia.archivo"></input-file></span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="editarRequisito($index,r)"><i class="fa" ng-class="{'fa-check':r.edi,'fa-pencil':!r.edi}" ></i></button>
                            <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!r.edi}" ng-click="eliminarRequisito($index,r)"><i class="fa" ng-class="{'fa-times':r.edi,'fa-trash-o':!r.edi}"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table></div>
                <table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
                    <tr>
                        <td style="width: 15px">+</td>
                        <td style="width: auto"><input type="text" class="form-control input-table" ng-model="requisito.descripcion"></td>
                        <td style="width: 35%;word-break: break-all;"><input-file nombre archivo="requisito.archivo"></input-file></td>
                        <td style="width: 55px">
                            <button class="btn btn-success btn-xs" ng-click="agregarRequisito()" title="agregar requisito" ><i class="fa fa-plus" ></i></button>
                        </td>
                    </tr>
                </table>
                </div>
                
            </div>
            <div class="form-group" >
                <div style="text-align: center"><strong>RUTAS</strong></div>
                <div class="col-sm-12">
                <div class="tabla-responsiva" style="max-height: 120px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                <table class="table peque" style="margin-bottom: 0">
                    <thead>
                    <tr>
                        <th style="width:15px;">#</th><th style="width:30%;">Origen</th><th style="width:30%;">Destino</th><th>Descripcion</th><th style="width:55px;">Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in rutas">
                        <td>{{$index +1}}</td>
                        <td>
                            <span ng-hide="r.edi" >{{r.areaOri.nombre}}</span>
                            <span ng-show="r.edi" ><select class="form-control input-table" ng-model="r.copia.areaOri" ng-options="d as d.nombre for d in destinos"></select></span>
                        </td>
                        <td>
                            <span ng-hide="r.edi" >{{r.areaDes.nombre}}</span>
                            <span ng-show="r.edi" ><select class="form-control input-table" ng-model="r.copia.areaDes" ng-options="d as d.nombre for d in destinos"></select></span>
                        </td>
                        <td>
                            <span ng-hide="r.edi" >{{r.descripcion}}</span>
                            <span ng-show="r.edi" ><input ng-model="r.copia.descripcion"/></span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="editarRuta($index,r)"><i class="fa" ng-class="{'fa-check':r.edi,'fa-pencil':!r.edi}" ></i></button>
                            <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!r.edi}" ng-click="eliminarRuta($index,r)"><i class="fa" ng-class="{'fa-times':r.edi,'fa-trash-o':!r.edi}"></i></button>                            
                        </td>
                    </tr>
                    </tbody>
                </table></div>
                <table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
                    <tr>
                        <td style="width:15px">+</td>
                        <td style="width:30%">
                            <select class="form-control input-table" ng-model="ruta.areaOri" ng-options="d as d.nombre for d in destinos"></select>
                        </td>
                        <td style="width:30%">
                            <select class="form-control input-table" ng-model="ruta.areaDes" ng-options="d as d.nombre for d in destinos"></select>
                        </td>
                        <td style="width:auto"><input type="text" class="form-control input-table" ng-model="ruta.descripcion"></td>
                        <td style="width:55px">
                            <button class="btn btn-success btn-xs" ng-click="agregarRuta()" title="agregar ruta"><i class="fa fa-plus" ></i></button>
                        </td>
                    </tr>                        
                </table>
                </div>                        
            </div>
        </form>
      </div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarTipoTramite(usuMaster.organizacion.organizacionID)">Guardar</button>
      </div>
    </div>
  </div>
</div>