<style type="text/css">
    form.tab-form-demo .tab-pane {
        margin: 20px 20px;
    }
</style>
<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">Traslado Salida</h4>
            <span class="tools pull-right">
                <button class="btn btn btn-primary btn-sm" 
                        ng-click="buscarTraslado()">
                    <i class="fa fa-rotate-right"></i> Listar
                </button>
            </span>
        </header>
        <div class="form-group" ng-init="buscarTraslado();">
            <div class="form-group">
                <div class="input-group col-lg-12">
                    <div class="table-responsive">
                        <table ng-table="tablaPrincipal" 
                               class="table table-striped table-hover" show-filter="true" >
                            <colgroup>
                                <col width="15%" />
                                <col width="20%" />
                                <col width="10%" />
                                <col width="15%" />
                                <col width="15%" />
                                <col width="10%" />
                                <col width="15%" />
                            </colgroup>
                            <tr ng-repeat="tra in $data">
                                <td data-title="'Organizacion Destino'" filter="{ orgDesNom: 'text'}" 
                                    sortable="'orgDesNom'" style="text-align: center;">
                                    {{tra.orgDesNom}}</td>
                                <td data-title="'Estudiante'" filter="{ estNom: 'text'}" 
                                    sortable="'estNom'" style="text-align: center;">
                                    {{tra.estNom}}</td>
                                <td data-title="'Fecha'" filter="{ fec: 'text'}" 
                                    sortable="'fec'" style="text-align: center;">
                                    {{tra.fec}}</td>
                                <td data-title="'Tipo Traslado'" filter="{ traTip: 'select'}" 
                                    filter-data="tipoTraslado" sortable="'traTip'" style="text-align: center;">
                                    {{tra.traTipNom}}</td>
                                <td data-title="'Estado Traslado'" filter="{ traEst: 'select'}" 
                                    filter-data="estadoTraslado" sortable="'traEst'" style="text-align: center;">
                                    {{tra.traEstNom}}</td>
                                <td data-title="'Resolución'" filter="{ resolucion: 'text'}" 
                                    sortable="'resolucion'" style="text-align: center;">
                                    {{tra.resolucion}}</td>
                                <td data-title="'Operaciones'" style="text-align: center;">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" 
                                                ng-click="evaluarTraslado(tra.traEst, tra.traIngId, tra.orgDesNom, tra.estNom, tra.fec, tra.traTipNom, tra.resolucion);">
                                            <i class="fa fa-archive "> </i>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="modalTrasladoSalida" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Traslado Salida</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">   
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label>Estado de Traslado:</label>
                            <input type="text" class="form-control" 
                                   name="traIngEst" id="traIngEst" 
                                   ng-model="trasladoSalidaCreate.traIngEst" ng-disabled="true">
                        </div>
                        <div class="col-sm-4">
                            <label>Tipo de Traslado:</label>
                            <input type="text" class="form-control" 
                                   name="traIngTipNom" id="traIngTipNom" 
                                   ng-model="trasladoSalidaCreate.traIngTipNom" ng-disabled="true">
                        </div>
                        <div class="col-sm-4">
                            <label>Fecha:</label>
                            <input type="text" class="form-control" 
                                   name="traIngFec" id="traIngFec" 
                                   ng-model="trasladoSalidaCreate.traIngFec" ng-disabled="true">
                        </div>
                        <div class="col-sm-12">
                            <label>Estudiante:</label>
                            <input type="text" class="form-control" 
                                   name="traIngEstNom" id="traIngEstNom" 
                                   ng-model="trasladoSalidaCreate.traIngEstNom" ng-disabled="true">
                        </div>
                        <div class="col-sm-8">
                            <label>Organizacion Destino:</label>
                            <input type="text" class="form-control" 
                                   name="traIngTipNom" id="traIngTipNom" 
                                   ng-model="trasladoSalidaCreate.traIngOrgDesNom" ng-disabled="true">
                        </div>
                        <div class="col-sm-4">
                            <label>Resolucion:</label>
                            <input type="text" class="form-control" 
                                   name="resolucion" id="resolucion" 
                                   ng-model="trasladoSalidaCreate.traIngResolucion" ng-disabled="true">
                        </div>
                        <div class="col-lg-4">
                            <label>Operacion:</label>
                            <select class="form-control" 
                                    id="traSalEst" name="traSalEst" 
                                    ng-model="trasladoSalidaCreate.traSalEst">
                                <option value="A">Aseptar Traslado</option>
                                <option value="R">Rechazar Traslado</option>
                            </select>
                        </div>
                        <div class="col-lg-8">
                            <label>Observaciones:</label>
                            <input type="text" class="form-control" 
                                   name="traSalObs" id="traSalObs" placeholder="Observaciones" 
                                   ng-model="trasladoSalidaCreate.traSalObs" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" 
                        ng-click="generarTrasladoSalida();">
                    <i class="fa fa-archive "> </i> Procesar Traslado
                </button>
                <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>                                        
    </div>
</div>
